{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
    {# <h1>Bienvenue au Club Nautique</h1>
    

    >
    <img src="{{ asset('images/club.jpg') }}" alt="Club Nautique"> #}
{% endblock %}
