/* body {
    background-color: skyblue;
} */

body {
    background-color: blue;
    color: white;
    font-family: Arial, sans-serif;
}

header nav ul {
    list-style: none;
    padding: 0;
}

header nav ul li {
    display: inline;
    margin-right: 10px;
}

main {
    padding: 20px;
}

