{% extends 'base.html.twig' %}

{% block title %}Nos bateaux{% endblock %}

{% block body %}


<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Font Awesome Example</title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
        <style>
            .contact-item {
                display: flex; /* Utilise Flexbox pour aligner icône et texte */
                align-items: center; /* Aligne verticalement les icônes et le texte */
                margin-bottom: 10px; /* Espacement entre les éléments */
            }
            .contact-item i {
                margin-right: 10px; /* Espace entre l'icône et le texte */
                font-size: 1.5em; /* Taille de l'icône */
            }
        </style>
    </head>

<body>
    <div style="margin-left: 20px">
        <h1> Horaires et contacts</h1>

        <p>Une permanence au club est assurée les samedi de 10h à 12h. </p>

        <div style= " border: 2px solid red; margin-left: 100px; padding: 10px; width: fit-content; margin: 20px 0; border-radius: 5px; width: 500px" >
            <h2>Le club</h2>

            <p style=" margin-left: 50px" >Société Nautique de Sète</p>
            <p style=" margin-left: 50px" >Môle Saint Louis</p>
            <p style=" margin-left: 50px" >34200 SETE</p>
        </div>

        <div style= " border: 2px solid red; margin-left: 100px; padding: 10px; width: fit-content; margin: 20px 0; border-radius: 5px; width: 500px" >
            <h2>Contact</h2>
                <div class="contact-item">
                    <i class="fa-solid fa-phone"></i>
                    <p>Le président</p><p style=" margin-left:150px" > 06.XX.XX.XX</p>
                </div>

                <div class="contact-item">
                    <i class="fa-solid fa-phone"></i>
                    <p>Le secrétaire</p><p style=" margin-left:145px" > 06.XX.XX.XX</p>
                </div>

                <div class="contact-item">
                    <i class="fa-solid fa-phone"></i>
                    <p>Le trésorier</p><p style=" margin-left:155px" > 06.XX.XX.XX</p>
                </div>

                <div class="contact-item">
                    <i class="fa-solid fa-phone"></i>
                    <p>Pour les activités voiles</p><p style=" margin-left:70px" > 06.XX.XX.XX</p>
                </div>

        
        </div>
    </div>

</body>
</html>
{% endblock %}