{% extends 'base.html.twig' %}

{% block title %}Nos bateaux{% endblock %}

{% block body %}

<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Font Awesome Example</title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
        {# <style>
            
       
            .contact-item {
                display: flex; /* Utilise Flexbox pour aligner icône et texte */
                align-items: center; /* Aligne verticalement les icônes et le texte */
                margin-bottom: 10px; /* Espacement entre les éléments */
            }
            .contact-item i {
                margin-right: 10px; /* Espace entre l'icône et le texte */
                font-size: 1.5em; /* Taille de l'icône */
            }
        </style> #}
    </head>

<body>


<div style="text-align:justify; width: 80%; margin: 30px; color: blue">
<h1>La SNS au cœur de la plaisance en Méditerranée</h1>
<p>L’histoire de la SNS est inséparable de l’histoire du port et de la Ville de Sète. Elle est contemporaine de notre société de sauvetage en mer. La création des Régates Cettoises en 1863, qui donneront plus tard la Société Nautique de Sète a été encouragée et soutenue par le ministère de la marine. A cette époque, la pêche se pratiquait sur les bateaux à voile, notamment nos bateaux bœufs et c’est parmi les pêcheurs que se recrutaient tout naturellement les meilleurs équipages de course à la voile. </p>

<h2>Le bateau bœuf à voile, l’ancêtre du chalutier à moteur</h2>
<p>Au XVIIIe siècle, les pêcheurs catalans pratiquaient la pêche au boeuf, technique de capture qui a précédé la pêche au chalut... La pêche au bœuf consiste à traîner le filet à deux bateaux, on disait aussi que les bateaux pêchaient en conserve. Cette technique fut inventée par les Catalans vers 1720, qui pratiquaient cette pêche sur les côtes du Languedoc, avec des barques Catalanes, particulièrement à Sète, car elle était interdite en Espagne. Ensuite les tartanes, bateaux de commerce à voile, ont été utilisées comme modèles pour construire les bateaux bœuf. La forme de la poupe large, permettait aux pêcheur de remonter le filet vers l’avant. 
La SNS fut un des tous premiers yacht club de la côte Méditerranéenne et a contribué au rayonnement de la ville de Cette, puis Sète, dans toute la Méditerranée Occidentale. Des côtes de la Sardaigne au sud de l’Espagne et au nord du Maroc… 

Regatière internationale, la Société des régates Cettoises développe les premières règles de course à la voile qui seront reprises dans les plus grandes compétitions mondiales et formeront le corps de nos actuels avis de course.
 
Pendant 150 années d’expérience, à travers sa Société Nautique, Sète a contribué à écrire quelques unes des plus belles pages de l’histoire de la voile nationale et internationale. </p>

<h2>Servir la Plaisance, honorer toutes les Marines</h2>
<p>La "Société d'Encouragement pour la Navigation de Plaisance", nom auquel est ajouté peu après le titre de "Yacht Club de France", est créée avec le haut parrainage de l'empereur Napoléon III le 15 juin 1867. L'amiral Rigault de Genouilly, alors Ministre de la Marine, en est le premier Président. 
 
Le 23 juin 1891, une deuxième société d'encouragement, "l'Union des Yachts Français" se crée et fusionne avec le "Yacht Club de France" dès le 6 août 1891. 
 
De son premier Président à ceux qui assurent aujourd'hui sa destinée et son rayonnement, le Yacht Club de France reste fidèle à sa vocation : concourir au développement de la navigation de plaisance sous toutes ses formes ; en croisière comme en course, défendre et promouvoir les valeurs de solidarité, de courtoisie et d'élégance morale qui animent tous les gens de mer. 
 
Reconnu d'utilité publique à la veille de la Grande Guerre, le Yacht Club de France est fier d'avoir compté parmi ses membres Jules Verne, Virginie Hériot, Alain Gerbault, le commandant Charcot, Marin-Marie, Eric Tabarly.</p>
<h2>Respecter les traditions, rassembler les marins de demain</h2>
<p>Par tradition, un lien fort unit la Marine nationale et le Yacht Club de France. Ces relations étendues aux marines de commerce, de pêche et de sauvetage, sont valeurs fondamentales pour le Yacht Club de France et ses membres. 
 
L'admission au sein du Yacht Club de France ne se sollicite pas, mais se mérite, par l'intermédiaire de deux parrains.</p>
</div>

</body>
</html>
{% endblock %}